<div class="subtask-content" [ngClass]="{'editing': editing}" (dblclick)="edit()" (formClick)="cancel()">
    <p class="name">
        @if(editing) {
        <input #editInput [(ngModel)]="task.name" (keydown.enter)="confirm($event)">
        }
        @else {
        &bull;<span>{{task.name}}</span>
        }
    </p>
    <div class="btns-container prevent-select">
        @if(!editing) {
        <button type="button" (click)="edit()">
            <img src="../../../../assets/img/edit.svg" alt="edit subtask">
        </button>
        } @else {
        <button type="button" (click)="confirm()">
            <img src="../../../../assets/img/check.svg" alt="confirm subtask edit">
        </button>
        }
        <div class="vertical-ruler"></div>
        <button type="button" (click)="deleteTask()">
            <img src="../../../../assets/img/remove.svg" alt="remove subtask">
        </button>
    </div>
</div>