<li [ngClass]="{'editing': editing}">
    <p class="content">&bull;
        <span>{{task.name}}</span>
    </p>
    <div class="btns-container">
        <button type="button" (click)="toggleEdit()">
            @if(!editing) {
            <img src="../../../../assets/img/edit.svg" alt="edit subtask">
            } @else {
            <img src="../../../../assets/img/check.svg" alt="confirm subtask edit">
            }
        </button>
        <div class="vertical-ruler"></div>
        <button type="button" (click)="deleteTask()">
            <img src="../../../../assets/img/remove.svg" alt="remove subtask">
        </button>
    </div>
</li>