@import "../add-task.component.scss";

input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

li {
  border-radius: 10px;
  padding: 4px 16px;
  height: 32px;
  background: none;
  width: 100%;
  @include flex($jc: space-between);
  .content {
    @include flex($jc: flex-start);
    span, input {
      margin-left: 12px;
    }
  } 
  .btns-container {
    display: none;
    height: 24px;
    img {
      display: inline-block;
      width: 24px;
      height: 24px;
      transition: 75ms ease;
      &:hover {
        filter: invert(56%) sepia(80%) saturate(2198%) hue-rotate(166deg) brightness(102%) contrast(77%);
        transition: 75ms ease;
      }
    }
  }
  &:hover {
    background: #eeeeee;
    .btns-container {
      display: flex;
    }
  }
}

.editing {
  border-radius: 0;
  border-bottom: 1px solid #005DFF;
  padding-bottom: 2px;
  background: white;
  .btns-container {
    @include flex($dir: row-reverse);
  }
  &:hover {
    background: white;
  }
}
