@import '../../../../styles.scss';

input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.subtask-content {
  border-radius: 10px;
  padding: 4px 16px;
  height: 100%;
  background: none;
  width: 100%;
  @include flex($jc: space-between);
  .name {
    max-width: calc(100% - 72px);
    @include flex($jc: flex-start);
    span,
    input {
      width: 100%;
      margin-left: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .btns-container {
    display: none;
    height: 24px;
    button {
      @extend .edit-btn;
    }
  }
  &:hover {
    background: #eeeeee;
    .btns-container {
      display: flex;
    }
  }
}

.editing {
  border-radius: 0;
  border-bottom: 1px solid #005dff;
  padding-bottom: 2px;
  background: white;
  .btns-container {
    @include flex($dir: row-reverse);
  }
  &:hover {
    background: white;
  }
}