<div class="content">
    <section class="top-section">
        <h2>Board</h2>
        <header>
            <form class="search-container relative text-input" #searchForm="ngForm">
                <input type="search" name="search" class="text-input" #search [(ngModel)]="searchFilter" placeholder="Find task">
                <div class="separator"></div>
                    <img class="search-icon" src="../../../assets/img/search.svg" alt="search">
            </form>
            <button class="btn-primary" (click)="addToStatus('To do')">
                <span>Add task</span>
                <img src="../../../assets/img/plus_icon_white.svg" alt="add task">
            </button>
        </header>
    </section>
    <section class="tasks-by-status">
        @for (status of statusList; track status) {
        <app-task-list [status]="status" [tasks]="getFilteredTasks(status)" (addToStatusClick)="addToStatus(status)"
            (taskClick)="viewTask($event)" (setDragCardHeight)="setDragCardHeight($event)"
            [dragCardHeight]="dragCardHeight" (setDragStartStatus)="setDragStartStatus($event)"
            [dragStartStatus]="dragStartStatus"></app-task-list>
        }
    </section>
</div>
<app-task-view *ngIf="viewTaskId != ''" [task]="getTaskById(viewTaskId)" (cancelOverlay)="closeTaskView()"
    (editThisTask)="showTaskForm(viewTaskId)"></app-task-view>
@if(taskFormId != null) {
<div class="overlay" [ngClass]="{'no-bg': viewTaskId != ''}" (click)="hideTaskForm()">
    <div class="task-form-wrapper"
        [ngClass]="{'slid-out': taskFormWrapperTranslated && taskFormId == '', 'slid-in': !taskFormWrapperTranslated, 'edit-task-wrapper': taskFormId != ''}"
        (click)="$event.stopPropagation()">
        @if(taskFormId == '') {
        <app-add-task [inOverlay]="true" (cancelled)="hideTaskForm()" (slide)="slideTaskFormWrapper()"></app-add-task>
        } @else {
        <app-add-task [task]="getTaskById(taskFormId)" [inOverlay]="true" (cancelled)="hideTaskForm()"
            (slide)="slideTaskFormWrapper()"></app-add-task>
        }
    </div>
</div>
}