@import "../../../styles.scss";
@import "../../app.component.scss";

.content {
  @extend .content;
  @include flex($jc: flex-start, $dir: column);
}

.top-section {
  width: 100%;
  @include flex($jc: space-between);

  h2 {
    margin: 0;
  }

  header {
    @include flex($g: 32px);

    .search-container {
      @include flex($jc: flex-start);
      background: white;
      height: 48px;

      .text-input {
        border: none;
        background: none;
        flex: 1;
      }

      .separator {
        width: 1px;
        height: calc(100% - 18px);
        background: $medium-light-grey;
      }

      .search-icon {
        width: 32px;
        height: 32px;
        margin: 10px 17px 10px 6px;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .btn-primary {
      gap: 10px;
      height: 48px;

      img {
        width: 19px;
        height: 19px;
      }
    }
  }
}

.tasks-by-status {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  @include flex($jc: flex-start, $ai: flex-start, $g: 26px);
  app-task-list {
    flex: 1;
    height: 100%;
  }
  @media screen and (max-width: 1440px) {
    flex: initial;
    flex-wrap: wrap;
    app-task-list {
      flex: 0;
      height: fit-content;
    }
  }
}

.overlay {
  .task-form-wrapper {
    width: 80%;
    height: 80%;
    padding: 60px 68px;
    background: white;
    border-radius: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .content header .search-container {
    width: 296px;
    .text-input {
      width: calc(100% - 48px);
    }
  }
}
@media screen and (max-width: 1024px) {
  .overlay .task-form-wrapper {
    width: 90%;
  }
  .top-section {
    header {
      gap: 16px;
      .search-container .text-input {
        padding: 8px 16px;
      }
      .btn-primary {
        width: 48px;
        padding: 0;
        span {
          display: none;
        }
      }
    }
    @media screen and (max-width: 860px) {
      position: relative;
      margin-bottom: 96px;
      header {
        @include flex(
          $jc: flex-start,
          $ai: flex-end,
          $g: 40px,
          $dir: column-reverse
        );
        .search-container {
          position: absolute;
          left: 0;
          right: 0;
          width: auto;
          top: 96px;
        }
        .btn-primary {
          width: 40px;
          height: 40px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 104px;
      header .search-container {
        top: 88px;
      }
    }
    @media screen and (max-height: 640px) {
      margin-bottom: 72px;
      header .search-container {
        top: 64px;
      }
    }
  }
}
//SCHRIFTGRÖßEN