<div class="content">
    <section class="top-section">
        <h2>Board</h2>
        <header>
            <div class="search-container relative text-input">
                <input type="search" class="text-input" placeholder="Find task">
                <div class="separator"></div>
                <button type="button" class="search-icon">
                    <img src="../../../assets/img/search.svg" alt="search">
                </button>
            </div>
            <button class="btn-primary" (click)="showTaskForm('')">
                Add task
                <img src="../../../assets/img/plus_icon_white.svg" alt="add task">
            </button>
        </header>
    </section>
    <section class="tasks-by-status">
        @for (status of statusList; track status) {
        <app-task-list [status]="status" [tasks]="getFilteredTasks(status)" (addToStatusClick)="addToStatus(status)"
            (taskClick)="viewTask($event)"></app-task-list>
        }
    </section>
</div>
<app-task-view *ngIf="viewTaskId != ''" [task]="getTaskById(viewTaskId)" (cancelOverlay)="closeTaskView()"
    (editThisTask)="showTaskForm(viewTaskId)"></app-task-view>
@if(taskFormId != null) {
<div class="overlay" [ngClass]="{'no-bg': viewTaskId != ''}" (click)="hideTaskForm()">
    <div class="task-form-wrapper" [ngClass]="taskFormWrapperTranslated ? 'slid-out' : 'slid-in'"
        (click)="$event.stopPropagation()">
        @if(taskFormId == '') {
        <app-add-task [status]="newTaskStatus" [inOverlay]="true" (cancelled)="hideTaskForm()"
            (slide)="slideTaskFormWrapper()"></app-add-task>
        } @else {
        <app-add-task [task]="getTaskById(taskFormId)" [inOverlay]="true" (cancelled)="hideTaskForm()"
            (slide)="slideTaskFormWrapper()"></app-add-task>
        }
    </div>
</div>
}