<div class="content">
    <section class="top-section">
        <h2>Board</h2>
        <header>
            <div class="search-container relative text-input">
                <input type="search" class="text-input" placeholder="Find task">
                <div class="separator"></div>
                <button type="button" class="search-icon">
                    <img src="../../../assets/img/search.svg" alt="search">
                </button>
            </div>
            <button class="btn-primary" (click)="showTaskForm('')">
                Add task
                <img src="../../../assets/img/plus_icon_white.svg" alt="add task">
            </button>
        </header>
    </section>
    <section class="tasks-by-status">
        <div class="task-column">
            <div class="column-title">
                <h5>To do</h5>
                <button (click)="addToStatus('To do')">
                    <img src="../../../assets/img/plus_icon.svg" alt="add to do">
                </button>
            </div>
            <div class="tasks-container">
                @for (task of toDo; track task) {
                <app-task-card [task]="task" (click)="viewTask(task.id)"></app-task-card>
                }
                @empty {
                <div class="no-tasks">No tasks to do</div>
                }
            </div>
        </div>
        <div class="task-column">
            <div class="column-title">
                <h5>In progress</h5>
                <button (click)="addToStatus('In progress')">
                    <img src="../../../assets/img/plus_icon.svg" alt="add in progress">
                </button>
            </div>
            <div class="tasks-container">
                @for (task of inProgress; track task) {
                <app-task-card [task]="task" (click)="viewTask(task.id)"></app-task-card>
                }
                @empty {
                <div class="no-tasks">No tasks in progress</div>
                }
            </div>
        </div>
        <div class="task-column">
            <div class="column-title">
                <h5>Await feedback</h5>
                <button (click)="addToStatus('Await feedback')">
                    <img src="../../../assets/img/plus_icon.svg" alt="add awaiting feedback">
                </button>
            </div>
            <div class="tasks-container">
                @for (task of awaitFeedback; track task) {
                <app-task-card [task]="task" (click)="viewTask(task.id)"></app-task-card>
                }
                @empty {
                <div class="no-tasks">No tasks awaiting feedback</div>
                }
            </div>
        </div>
        <div class="task-column">
            <div class="column-title">
                <h5>Done</h5>
            </div>
            <div class="tasks-container">
                @for (task of done; track task) {
                <app-task-card [task]="task" (click)="viewTask(task.id)"></app-task-card>
                }
                @empty {
                <div class="no-tasks">No tasks done</div>
                }
            </div>
        </div>
    </section>
</div>
<app-task-view *ngIf="viewTaskId != ''" [task]="getTaskById(viewTaskId)"
    (cancelOverlay)="closeTaskView()" (editThisTask)="showTaskForm(viewTaskId)"></app-task-view>
@if(taskFormId != null) {
<div class="overlay" [ngClass]="{'no-bg': viewTaskId != ''}" (click)="hideTaskForm()">
    <div class="task-form-wrapper" (click)="$event.stopPropagation()">
        @if(taskFormId == '') {
            <app-add-task [status]="newTaskStatus" [inOverlay]="true" (cancelled)="hideTaskForm()"></app-add-task>
        } @else {
            <app-add-task [task]="getTaskById(taskFormId)" [inOverlay]="true" (cancelled)="hideTaskForm()"></app-add-task>
        }
    </div>
</div>
}