@import "../../../../../styles.scss";

.content {
  width: 100%;
  min-width: 252px;
  background: white;
  box-shadow: $shadow-subtle;
  border-radius: 24px;
  padding: 16px;
  font-size: $font-small;
  overflow-wrap: anywhere;
  cursor: grab;
  transition: 75ms ease-out;
  .top-container {
    width: 100%;
    @include flex($jc: space-between);
    app-arrow-back-btn {
      display: none;
      transform: rotate(180deg);
      @media screen and (max-width: 1440px) {
        display: initial;
      }
    }
  }
  .dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    border-radius: 14px;
    background-color: $anthracite;
    @include flex($ai: flex-start, $g: 4px, $dir: column);
    font-size: $font-small;
    .close-btn-container {
      width: 100%;
      @include flex($jc: flex-end);
    }
    a {
      padding: 4px 0;
      width: 100%;
      color: $grey;
      transition: 75ms ease;
      &:hover {
        transition: 75ms ease;
        color: white;
      }
    }
  }
  .title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  .description {
    color: $dark-grey;
  }
  .subtasks-diagram {
    @include flex($g: 8px);
    .bar-bg {
      flex: 1;
      height: 8px;
      border-radius: 4px;
      background: #f4f4f4;
      .bar {
        height: 100%;
        border-radius: inherit;
        background: #4589ff;
      }
    }
    .counter {
      font-size: 12px;
    }
  }
  &:active {
    cursor: grabbing;
  }
}

.bottom-container {
  margin-top: 24px;
  @include flex($jc: space-between);
  .assigned-badges {
    flex: 1;
    display: flex;
    app-person-badge {
      margin-right: -12px;
    }
  }
  .prio {
    width: 32px;
    height: 32px;
    @include flex();
    app-prio-icon {
      display: block;
      width: 60%;
      height: 60%;
    }
  }
}
