@import "../../../../../styles.scss";

.content {
  width: 100%;
  min-width: 252px;
  background: white;
  box-shadow: $shadow-subtle;
  border-radius: 24px;
  padding: 16px;
  font-size: $font-small;
  cursor: grab;
  transition: 75ms ease-out;
  .title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  .description {
    color: $dark-grey;
  }
  .subtasks-diagram {
    @include flex($g: 8px);
    .bar-bg {
      flex: 1;
      height: 8px;
      border-radius: 4px;
      background: #f4f4f4;
      .bar {
        height: 100%;
        border-radius: inherit;
        background: #4589ff;
      }
    }
    .counter {
      font-size: 12px;
    }
  }
  &:active {
    cursor: grabbing;
  }
}

.bottom-container {
  margin-top: 24px;
  @include flex($jc: space-between);
  .assigned-badges {
    flex: 1;
    display: flex;
    app-person-badge {
      margin-right: -12px;
    }
  }
  .prio {
    width: 32px;
    height: 32px;
    @include flex();
    app-prio-icon {
      display: block;
      width: 60%;
      height: 60%;
    }
  }
}
