<div class="content">
    <app-task-category [category]="task.category"></app-task-category>
    <p class="title">{{task.title}}</p>
    <p class="description" *ngIf="task.description.length > 0">{{printDescription()}}</p>
    <div class="subtasks-diagram" *ngIf="task.subtasks.length > 0">
        <div class="bar-bg">
            <div class="bar" [ngStyle]="{'width.%': getSubtasksDoneNumber() / task.subtasks.length * 100}"></div>
        </div>
        <div class="counter">{{getSubtasksDoneNumber()}}/{{task.subtasks.length}} Subtasks</div>
    </div>
    <div class="bottom-container" *ngIf="task.assigned.length > 0 || task.prio != null">
        <div class="assigned-icons">
            @for(assignment of task.assigned; track assignment; let i = $index) {
            @if(assignment) {
            <app-person-badge [name]="users[i].name" [color]="users[i].color"></app-person-badge>
            }
            }
        </div>
        <div class="prio">
            <app-prio-icon [prio]="task.prio"></app-prio-icon>
        </div>
    </div>
</div>