@import "../../styles.scss";
@import "../app.component.scss";

.light-blue {
    color: $light-blue;
}

.content {

    p,
    span,
    li {
        font-size: $font-small;
        font-weight: 400;
    }

    a {
        color: $link-blue;
        text-decoration: none;
        transition: 75ms ease;

        &:hover {
            text-decoration: underline;
            transition: 75ms ease;
        }
    }

    ol li {
        padding-left: 32px;

        .li-content {
            position: relative;
            top: -7px;
            margin-bottom: 10px;

            h4 {
                font-weight: 700;
                font-size: $font-normal;
                margin: 0;
            }
        }

        &::marker {
            font-size: $font-large;
            font-weight: 700;
        }

        @media screen and (max-width: 480px) {
            padding-left: 12px;
        }
    }
}

h3 {
    font-weight: 700;
    font-size: $font-large;
    margin-top: 28px;
    margin-bottom: 20px;
}