@import '../../../styles.scss';

$height: 74px;

.content {
    position: fixed;
    top: calc(100vh + 1px);
    bottom: calc(-1* (1px + $height));
    left: 0;
    right: 0;
    z-index: -1;
    @include flex();

    p {
        background: $anthracite;
        color: white;
        height: $height;
        border-radius: 20px;
        padding: 0 25px;
        width: auto;
        max-width: 100%;
        @include flex();

        .board-icon {
            display: block;
            margin-left: 10px;
            width: 30px;
            height: 30px;
            filter: brightness(2);
        }
    }
}

.show {
    top: 0;
    bottom: 0;
    z-index: 3;
    transition: 250ms ease-out;
}