<nav>
    <a href="" class="logo">
        <img src="../../../assets/img/logo_white.svg" alt="JOIN">
    </a>
    <div class="main">
        <a routerLink="/summary" routerLinkActive="active" [ngClass]="{'current': getCurrentRoute() == '/summary'}">
            <img src="../../../assets/img/menu/summary.svg" alt="summary">
            <span>Summary</span>
        </a>
        <a routerLink="/add_task" [ngClass]="{'current': getCurrentRoute() == '/add_task'}">
            <img src="../../../assets/img/menu/add_task.svg" alt="add task">
            <span>Add Task</span>
        </a>
        <a routerLink="/board" [ngClass]="{'current': getCurrentRoute() == '/board'}">
            <img src="../../../assets/img/menu/board.svg" alt="board">
            <span>Board</span>
        </a>
        <a routerLink="/contacts" [ngClass]="{'current': getCurrentRoute() == '/contacts'}">
            <img src="../../../assets/img/menu/contacts.svg" alt="contacts">
            <span>Contacts</span>
        </a>
    </div>
    <div class="other">
        <a [routerLink]="['/privacy_policy']">Privacy policy</a>
        <a [routerLink]="['/legal_notice']">Legal notice</a>
    </div>
</nav>