<div class="content">
    <div class="logo-wrapper sub-container">
        <a href="" class="logo">
            <img src="assets/img/logo.svg" alt="JOIN">
        </a>
    </div>
    <form class="reset-password-container" #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
        <h2>Reset Password</h2>
        <div class="form-field" #passwordContainer
            [ngClass]="{'validation-error': ((password.touched || resetPasswordForm.submitted) && !password.valid) || this.authError.length > 0}">
            <input type="{{passwordFieldType}}" class="text-input" placeholder="Password" name="password" minlength="6"
                autocomplete="current-password" #password="ngModel" [(ngModel)]="formData.password" required>
            @if(formData.password.length > 0) {
            <app-password-icon [state]="passwordFieldType" (click)="toggleVisibility('password')" />
            }
            @else {
            <app-password-icon [state]="'default'" (click)="toggleVisibility('password')" />
            }
            @if((password.touched || resetPasswordForm.submitted) && !password.valid) {
            @if(password.value.length < 6) { <p>Your password must contain at least 6 characters.</p> }
                @else { <p>Please enter a valid password.</p>}
                }
        </div>
        <div class="form-field" #passwordConfirmationContainer
            [ngClass]="{'validation-error': (passwordConfirmation.touched && !checkPasswordConfirmation()) || this.authError.length > 0}">
            <input type="{{passwordConfirmationFieldType}}" class="text-input" placeholder="Confirm password"
                name="passwordConfirmation" #passwordConfirmation="ngModel" [(ngModel)]="formData.passwordConfirmation"
                required>
            @if(formData.passwordConfirmation.length > 0) {
            <app-password-icon [state]="passwordConfirmationFieldType" (click)="toggleVisibility('confirmation')" />
            }
            @else {
            <app-password-icon [state]="'default'" (click)="toggleVisibility('confirmation')" />
            }
            @if(passwordConfirmation.touched && !checkPasswordConfirmation()) {
            <p>Oops! Your passwords don\'t match.</p>
            } @else if(authError.includes('wrong')) {
            <p>{{authError}}</p>
            }
        </div>
        <button type="submit" class="btn-primary">Submit</button>
    </form>
    <div class="sub-container-bottom">
        <div class="legal-info">
            <a [routerLink]="['/privacy_policy']" name="Privacy policy" class="left-link">
                <p>Privacy policy</p>
            </a>
            <a [routerLink]="['/legal_notice']" name="Legal notice" class="right-link">
                <p>Legal notice</p>
            </a>
        </div>
    </div>
</div>
<app-toast-notification [message]="'Password reset successful'" [show]="showToastMsg" />