<div class="overlay" (click)="cancel()">
    <div class="content" (click)="$event.stopPropagation()">
        <div class="headline">
            <div class="headline-and-logo-container">
                <img class="logo" src="../../../../assets/img/logo_white.svg" alt="logo">
                <h2>
                    @if(mode == 'add') {
                    Add
                    } @else {
                    Edit
                    }
                    contact
                </h2>
            </div>
            <p *ngIf="mode == 'add'">Tasks are better with a team!</p>
            <div class="separator"></div>
        </div>
        @if(mode == 'add') {
            <app-person-badge [large]="true"></app-person-badge>
        } @else {
            <app-person-badge [name]="contact.name" [color]="contact.color" [large]="true"></app-person-badge>
        }
        <form ngNativeValidate (submit)="onSubmit($event)">
            <app-close-btn (click)="cancel()" class="btn-close"></app-close-btn>
            <div class="form-field">
                @if(contact.uid && contact.uid.length > 0) {
                    <input type="text" [(ngModel)]="contact.name" class="text-input" placeholder="Name" name="name" id="name" disabled>
                } @else {
                    <input type="text" [(ngModel)]="contact.name" class="text-input" placeholder="Name" name="name" id="name" required>
                }
                <img src="assets/img/person.svg">
            </div>
            <div class="form-field">
                <input type="text" [(ngModel)]="contact.email" class="text-input" placeholder="Email" name="email">
                <img src="assets/img/mail.svg">
            </div>
            <div class="form-field">
                <input type="text" [(ngModel)]="contact.phone" class="text-input" placeholder="Phone" name="phone">
                <img src="assets/img/contacts/call.svg">
            </div>
            <div class="btns-submit">
                @if(mode == 'add') {
                <button type="button" class="btn-secondary btn-x" (click)="cancel()">
                    Cancel
                    <div class="img-container">
                        <img src="../../../assets/img/cancel.svg" class="secondary-neutral" alt="clear">
                        <img src="../../../assets/img/cancel_hover.svg" class="secondary-hover" alt="clear">
                        <img src="../../../assets/img/cancel_active.svg" class="secondary-active" alt="clear">
                    </div>
                </button>
                <button type="submit" class="btn-primary">
                    Create Contact
                    <img src="../../../assets/img/check_white.svg" alt="create task">
                </button>
                } @else {
                <button type="button" class="btn-secondary btn-x" (click)="cancel()">
                    Delete
                </button>
                <button type="submit" class="btn-primary">
                    Save
                    <img src="../../../assets/img/check_white.svg" alt="create task">
                </button>
                }
            </div>
        </form>
    </div>
</div>