@import '../../../../styles.scss';

.overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.1);
    @include flex();
    .content {
        background: white;
        border-radius: 30px;
        width: 80%;
        height: 80%;
    }
}