@import "../../../../styles.scss";
@import "../../../app.component.scss";

$overlay-content-padding: 50px;

.overlay {
  .content {
    background: linear-gradient(to right, #00000000 20%, white 20%);
    border-radius: 30px;
    width: 80%;
    height: 80%;
    @include flex($jc: flex-start, $g: 80px);
  }
}

.headline {
  border-radius: 30px 0 0 30px;
  background: $anthracite;
  width: 33%;
  height: 100%;
  padding: 0 $overlay-content-padding;
  @include flex($ai: flex-start, $g: 12px, $dir: column);
  .btn-close-bright {
    display: none;
  }
  .headline-and-logo-container {
    width: 100%;
    position: relative;
  }
  .logo {
    position: absolute;
    z-index: 2;
    bottom: calc(100% + 14px);
    width: 54px;
  }
  h2 {
    color: white;
    margin: 0;
  }
  p {
    color: white;
    font-size: $font-large;
  }
  .separator {
    width: 90px;
    height: 3px;
    margin-top: 3px;
    background: $light-blue;
  }
}

app-person-badge {
  margin-bottom: 80px;
}

form {
  flex: 1;
  padding-right: $overlay-content-padding;
  position: relative;
  @include flex($ai: flex-start, $dir: column);
  .btn-close-dark {
    position: absolute;
    right: $overlay-content-padding;
    top: -80px;
  }
  .form-field {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    input {
      width: 100%;
    }
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 24px;
      width: 24px;
      margin: var(--input-padding);
    }
  }
  .btns-submit {
    margin-top: 24px;
    @include flex($g: 16px);
  }
}
.overlay {
  .content {
    @media screen and (max-width: 1920px) {
      width: 90%;
      height: 90%;
      .headline {
        width: 480px;
      }
    }
    @media screen and (max-width: 1440px) {
      gap: 60px;
      .btn-main {
        padding: 15px;
      }
    }
    @media screen and (max-width: 1280px) {
      gap: 40px;
      .headline {
        width: 386px;
        h2 {
          font-size: $font-larger;
        }
        p {
          font-size: $font-normal;
        }
        .logo {
          display: none;
        }
      }
      .btn-cancel {
        display: none;
      }
    }
    @media screen and (max-width: 1024px) {
      height: 85%;
      background: linear-gradient(to bottom, #00000000 20%, white 20%);
      @include flex($jc: flex-start, $ai: flex-start, $g: 80px, $dir: column);
      .headline {
        border-radius: 30px 30px 0 0;
        width: 100%;
        height: 45%;
        padding: 10px;
        .btn-close-bright {
          display: initial;
          position: absolute;
          top: 20px;
          right: 10px;
        }
      }
      app-person-badge {
        position: absolute;
        top: 45%;
        bottom: 55%;
        left: 0;
        right: 0;
        margin: 0;
        @include flex();
      }
      form {
        flex: 0;
        width: 100%;
        height: 55%;
        padding: 10px;
        .btn-close-dark {
          display: none;
        }
        .btns-submit {
          width: 100%;
          .btn-main {
            padding: 10px;
          }
        }
      }
    }
    @media screen and (max-height: 840px) {
      .headline {
        height: 40%;
      }
      app-person-badge {
        top: 40%;
        bottom: 60%;
      }
      form {
        height: 60%;
        .form-field {
          margin-bottom: 20px;
        }
      }
    }
    @media screen and (max-height: 720px) {
      .headline {
        height: 35%;
      }
      app-person-badge {
        top: 35%;
        bottom: 65%;
      }
      form {
        height: 65%;
        .form-field {
          margin-bottom: 20px;
        }
        .btns-submit {
          margin-top: 12px;
          @media screen and (max-height: 640px) {
            margin: 0;
          }
        }
      }
    }
    @media screen and (max-width: 640px) {
      .headline {
        height: 30%;
        h2 {
          font-size: 36px;
        }
        p,
        .separator {
          display: none;
        }
      }
      app-person-badge {
        top: 30%;
        bottom: 70%;
      }
      form {
        height: 70%;
      }
    }
  }
}
