<div class="overlay" (mousedown)="cancel()">
    <div class="content" [ngClass]="translated ? 'slid-out' : 'slid-in'" (mousedown)="$event.stopPropagation()">
        <div class="headline relative">
            <app-close-btn (click)="cancel()" class="btn-close-bright" [bright]="true" />
            <div class="headline-and-logo-container">
                <img class="logo" src="../../../../assets/img/logo_white.svg" alt="logo">
                <h2>
                    @if(mode == 'add') {
                    Add
                    } @else {
                    Edit
                    }
                    contact
                </h2>
            </div>
            <p *ngIf="mode == 'add'">Tasks are better with a team!</p>
            <div class="separator"></div>
        </div>
        @if(mode == 'add') {
        <app-person-badge [large]="true" />
        } @else {
        <app-person-badge [name]="formData.name" [color]="formData.getColor()" [large]="true" />
        }
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <app-close-btn (click)="cancel()" class="btn-close-dark" />
            <div class="form-field"
                [ngClass]="{'validation-error': (name.touched || contactForm.submitted) && !name.valid && !isUser}">
                <input type="text" [(ngModel)]="formData.name" class="text-input" placeholder="Name" name="name"
                    #name="ngModel" [required]="!isUser" [disabled]="isUser">
                @if((name.touched || contactForm.submitted) && !name.valid && !isUser) {
                <p>A contact name is required.</p>
                }
                <img src="assets/img/person.svg">
            </div>
            <div class="form-field"
                [ngClass]="{'validation-error': (email.touched || contactForm.submitted) && (!email.valid || emailTaken)}">
                <input type="text" class="text-input" placeholder="Email" name="email" #email="ngModel"
                    (change)="resetEmailTaken()" [(ngModel)]="formData.email"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [disabled]="isUser">
                <img src="assets/img/mail.svg" alt="email">
                @if((email.touched || contactForm.submitted) && !email.valid && !isUser) {
                <p>This is not a valid email adress.</p>
                } @else if(!isUser && contactForm.submitted && emailTaken) {
                <p>This email adress is already registered.</p>
                }
            </div>
            <div class="form-field"
                [ngClass]="{'validation-error': (phone.touched || contactForm.submitted) && !phone.valid}">
                <input type="text" [(ngModel)]="formData.phone" class="text-input" placeholder="Phone" name="phone"
                    #phone="ngModel" pattern="[\d+()\- ]*">
                <img src="assets/img/contacts/call.svg">
                @if((phone.touched || contactForm.submitted) && !phone.valid) {
                <p>This is not a valid phone number.</p>
                }
            </div>
            <div class="btns-submit">
                @if(mode == 'add') {
                <button type="button" class="btn-secondary btn-x btn-cancel" (click)="cancel()">
                    Cancel
                    <div class="img-container">
                        <img src="../../../assets/img/cancel.svg" class="secondary-neutral" alt="clear">
                        <img src="../../../assets/img/cancel_hover.svg" class="secondary-hover" alt="clear">
                        <img src="../../../assets/img/cancel_active.svg" class="secondary-active" alt="clear">
                    </div>
                </button>
                <button type="submit" class="btn-primary">
                    Create Contact
                    <img src="../../../assets/img/check_white.svg" alt="create task">
                </button>
                } @else {
                <button type="button" class="btn-secondary btn-x" (click)="deleteContact()"
                    [disabled]="isUser">
                    Delete
                </button>
                <button type="submit" class="btn-primary">
                    Save
                    <img src="../../../assets/img/check_white.svg" alt="create task">
                </button>
                }
            </div>
        </form>
    </div>
</div>