<header class="relative">
    <a href="" class="logo">
        <img src="../../../assets/img/logo.svg" alt="JOIN">
    </a>
    <span class="title">Kanban Project Management Tool</span>
    <div class="info">
        <a [routerLink]="['/help']" class="help">
            <img src="../../../assets/img/menu/help.svg" alt="help">
        </a>
        @if(currentUser) {
        <app-person-badge [name]="currentUser.user.id == 'guest' ? 'Guest' : currentUser.user.username"
            [currentUser]="true" (click)="$event.stopPropagation(); toggleDropdown()" />
        }
    </div>
    <div *ngIf="displayDropdown" class="dropdown-menu">
        <a [routerLink]="['/help']" class="menu-help">Help</a>
        <a [routerLink]="['/legal_notice']">Legal notice</a>
        <a [routerLink]="['/privacy_policy']">Privacy policy</a>
        <a (click)="logOut()">Log out</a>
    </div>
</header>