@import '../../../styles.scss';

header {
    width: 100%;
    height: 100%;
    background: white;
    @include flex($jc: space-between);
    .title {
        margin-left: 50px;
    }
    .info {
        margin-right: 48px;
        .help {
            transition: 100ms ease;
            img {
                width: 20px;
                height: 20px;
            }
            &:hover {
                transition: 100ms ease;
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}