<form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm" (change)="resetAuthError()">
    <app-arrow-back-btn *ngIf="formMode == 'Sign up'" (click)="toggleModeEmit()" class="arrow-back"></app-arrow-back-btn>
    <h2>{{formMode}}</h2>
    <div *ngIf="formMode == 'Sign up'" class="form-field"
        [ngClass]="{'validation-error': (name.touched || registrationForm.submitted) && !name.valid}">
        <input type="text" class="text-input" placeholder="Name" name="name" autocomplete="name" #name="ngModel"
            [(ngModel)]="formData.name" required>
        <img src="assets/img/person.svg" alt="name">
        @if((name.touched || registrationForm.submitted) && !name.valid) {
        <p>Your name is required.</p>
        }
    </div>
    <div class="form-field"
        [ngClass]="{'validation-error': ((email.touched || registrationForm.submitted) && !email.valid) || authError == 'invalid credential' || authError == 'email in use'}">
        <input type="text" class="text-input" placeholder="Email" name="email" #email="ngModel"
            [(ngModel)]="formData.email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        <img src="assets/img/mail.svg" alt="email">
        @if((email.touched || registrationForm.submitted) && !email.valid) {
        <p>This is not a valid email adress.</p>
        }
        @else if(authError == 'email in use') {
        <p>This email adress is already in use.</p>
        }
    </div>
    <div class="form-field" #passwordContainer
        [ngClass]="{'validation-error': (authError == 'invalid credential') || ((password.touched || registrationForm.submitted) && !password.valid)}">
        <input type="{{passwordFieldType}}" class="text-input" placeholder="Password" name="password" minlength="6"
            autocomplete="current-password" #password="ngModel" [(ngModel)]="formData.password" required>
        @if(formData.password.length > 0) {
        <app-password-icon [state]="passwordFieldType" (click)="toggleVisibility('password')"></app-password-icon>
        }
        @else {
        <app-password-icon [state]="'default'" (click)="toggleVisibility('password')"></app-password-icon>
        }
        @if(authError == 'invalid credential') {
        <p>Wrong email or password! Please try again.</p>
        } @else if((password.touched || registrationForm.submitted) && !password.valid) {
            @if(formMode == 'Sign up' && password.value.length < 6) {
                <p>Your password must contain at least 6 characters.</p>
            } @else {
                <p>Please enter a valid password.</p>
            }
        }
    </div>
    <div *ngIf="formMode == 'Sign up'" class="form-field"
        [ngClass]="{'validation-error': passwordConfirmation.touched && !checkPasswordConfirmation()}"
        #passwordConfirmationContainer>
        <input type="{{passwordConfirmationFieldType}}" class="text-input" placeholder="Confirm password"
            name="passwordConfirmation" #passwordConfirmation="ngModel" [(ngModel)]="formData.passwordConfirmation"
            required>
        @if(formData.passwordConfirmation.length > 0) {
        <app-password-icon [state]="passwordFieldType" (click)="toggleVisibility('confirmation')"></app-password-icon>
        }
        @else {
        <app-password-icon [state]="'default'" (click)="toggleVisibility('confirmation')"></app-password-icon>
        }
        @if(passwordConfirmation.touched && !checkPasswordConfirmation()) {
        <p>Oops! Your passwords don\'t match.</p>
        }
    </div>
    <div class="further-options" [ngClass]="{'privacy-policy': formMode == 'Sign up'}">
        @if(formMode == 'Log in') {
        <div class="checkbox-container prevent-select" (click)="toggleRememberMe()">
            <div class="custom-checkbox" [ngClass]="{'custom-checked' : rememberLogIn}"></div>
            <span>Remember me</span>
        </div>
        <a (click)="sendPasswordResetEmail()" class="link-blue" *ngIf="authError == 'invalid credential'">I forgot my password</a>
        }
        @else {
        <div class="checkbox-container prevent-select relative"
            [ngClass]="{'validation-error': registrationForm.submitted && !acceptPrivacyPolicy}"
            (click)="togglePrivacyPolicy()">
            <div class="custom-checkbox" [ngClass]="{'custom-checked' : acceptPrivacyPolicy}"></div>
            <span>
                <div>I accept the</div>
                <a [routerLink]="['/privacy_policy']" target="_blank" class="link-blue" (click)="$event.stopPropagation()">privacy policy</a>
            </span>
            @if(registrationForm.submitted && !acceptPrivacyPolicy) {
            <p>Accept the privacy policy to sign up.</p>
            }
        </div>
        }
    </div>
    <div class="btn-container">
        @if(formMode == 'Log in') {
        <button type="submit" class="btn-primary">Log in</button>
        <button type="button" class="btn-secondary" (click)="logInAsGuest()">Guest log in</button>
        }
        @else {
        <div class="btn-container">
            <button type="submit" class="btn-primary">Sign up</button>
        </div>
        }
    </div>
</form>
<app-toast-notification [message]="toastMsg" [show]="showToastMsg"></app-toast-notification>