@import "../../../../styles.scss";

.content {
  @include flex($jc: flex-start);
  .data {
    max-width: calc(100% - 80px);
    p,
    app-email {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.in-contacts {
  gap: 35px;
  padding: 15px 24px;
  border-radius: 10px;
  transition: 75ms ease;
  cursor: pointer;
}

.in-contacts-default {
  @extend .in-contacts;
  &:hover {
    background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    transition: 75ms ease;
  }
  &:active {
    color: white;
    background: $anthracite-darkened;
    transition: 75ms ease;
  }
}

.in-contacts-selected {
  @extend .in-contacts;
  background: $anthracite;
  color: white;
  &:hover {
    background: $anthracite-darkened;
    transition: 75ms ease;
  }
}

.in-task {
  gap: 16px;
}
