<div class="content relative">
    <div class="list scrollable">
        <button class="btn-primary add-new" (click)="showContactOverlay('add')">
            <span>Add new contact</span>
            <img src="../../../assets/img/person_add.svg" alt="add new contact">
        </button>
        @if(currentUser) {
        @for (contact of sortedContacts; track contact; let i = $index) {
        @if(hasNextLetter(i)) {
        <p class="letter">{{getFirstLetter(contact)}}</p>
        <div class="horizontal-ruler"></div>
        }
        <app-contact-list-item [name]="contact.name" [email]="contact.email" [color]="contact.getColor()"
            [selected]="i == selection" (click)="selectContact(i)" />
        }
        }
    </div>
    <div #viewer (click)="$event.stopPropagation(); toggleEditMenuResponsive(false)"
        [ngClass]="{'viewer-desktop': contactViewerResponsive == 'desktop', 'viewer-mobile': contactViewerResponsive == 'mobile', 'show-on-contact-selection': selection != -1}">
        <div class="headline-container">
            <app-headline-slogan [headline]="'Contacts'" [slogan]="'Better with a team'" />
            <app-arrow-back-btn (click)="unselectContact()" />
        </div>
        @if(selection >= 0) {
        <div class="contact-data">
            <div class="name">
                <app-person-badge [name]="sortedContacts[selection].name" [color]="sortedContacts[selection].getColor()"
                    [responsive]="contactViewerResponsive" [large]="true" />
                <div class="full-name-edit">
                    <p class="full-name">{{sortedContacts[selection].name}}</p>
                    <div class="edit-btns-container" [ngClass]="{'show-responsive-menu': showEditMenuResponsive}">
                        <button class="edit-btn" (click)="showContactOverlay('edit')" name="Edit">
                            <img src="../../../../assets/img/edit.svg" alt="edit contact">
                            <p>Edit</p>
                        </button>
                        @if(!sortedContacts[selection].isUser()) {
                        <button class="edit-btn" (click)="deleteSelectedContact()" name="Delete">
                            <img src="../../../../assets/img/remove.svg" alt="delete contact">
                            <p>Delete</p>
                        </button>
                        }
                    </div>
                </div>
            </div>
            @if(sortedContacts[selection].email || sortedContacts[selection].phone) {
            <h3>Contact Information</h3>
            @if(sortedContacts[selection].email) {
            <h4>Email</h4>
            <app-email [email]="sortedContacts[selection].email || ''"></app-email>
            }
            @if(sortedContacts[selection].phone) {
            <h4>Phone</h4>
            <a class="phone-nr" href="tel:{{sortedContacts[selection].phone}}">{{sortedContacts[selection].phone}}</a>
            }
            }
        </div>
        }
        <button class="btn-primary btn-viewer-options"
            (click)="$event.stopPropagation(); toggleEditMenuResponsive()">
            <img src="assets/img/contacts/more_vert.svg" alt="options">
        </button>
    </div>
</div>
@if(contactOverlay == 'add') {
<app-add-contact (cancelOverlay)="cancelOverlay()" [mode]="'add'"
    (contactSubmission)="submitContact($event)" />
} @else if (contactOverlay == 'edit' && currentUser) {
<app-add-contact (cancelOverlay)="cancelOverlay()" [mode]="'edit'" [contact]="sortedContacts[selection]"
    (contactSubmission)="submitContact($event)" (delete)="deleteSelectedContact()" />
}