<div class="content">
    <div class="list">
        <button class="btn-primary add-new" (click)="showContactOverlay('add')">
            Add new contact
            <img src="../../../assets/img/person_add.svg" alt="add new contact"></button>
        @for (contact of getSortedContacts(); track contact; let i = $index) {
        @if(hasNextLetter(i)) {
        <p class="letter">{{getFirstLetter(contact)}}</p>
        <div class="horizontal-ruler"></div>
        }
        <app-contact-list-item [name]="contact.name" [email]="contact.email" [color]="contact.color"
            [selected]="i == selection" (click)="selectContact(i)"></app-contact-list-item>
        }
    </div>
    <div class="viewer">
        <app-headline-slogan [headline]="'Contacts'" [slogan]="'Better with a team'"></app-headline-slogan>
        @if(selection >= 0) {
        <div class="contactData">
            <div class="name">
                <app-person-badge [name]="contacts[selection].name" [color]="contacts[selection].color"
                    [large]="true"></app-person-badge>
                <div class="full-name-edit">
                    <p class="full-name">{{contacts[selection].name}}</p>
                    <div class="edit-btns-container">
                        <button class="edit-btn" (click)="showContactOverlay('edit')" name="Edit">
                            <img src="../../../../assets/img/edit.svg" alt="edit contact">
                            <p>Edit</p>
                        </button>
                        <button class="edit-btn" (click)="deleteSelectedContact()" name="Delete">
                            <img src="../../../../assets/img/remove.svg" alt="delete contact">
                            <p>Delete</p>
                        </button>
                    </div>
                </div>
            </div>
            @if(contacts[selection].email || contacts[selection].phone) {
            <h3>Contact Information</h3>
            @if(contacts[selection].email) {
            <h4>Email</h4>
            <app-email [email]="contacts[selection].email || ''"></app-email>
            }
            @if(contacts[selection].phone) {
            <h4>Phone</h4>
            <a href="tel:{{contacts[selection].phone}}">{{contacts[selection].phone}}</a>
            }
            }
        </div>
        }
    </div>
</div>
@if(contactOverlay == 'add') {
<app-add-contact (cancelOverlay)="cancelOverlay()" [mode]="'add'"
    (afterSubmit)="submitContact($event)"></app-add-contact>
} @else if (contactOverlay == 'edit') {
<app-add-contact (cancelOverlay)="cancelOverlay()" [mode]="'edit'" [contact]="contacts[selection]"
    (afterSubmit)="submitContact($event)"></app-add-contact>
}