@import "../../../styles.scss";
@import "../../app.component.scss";

.content {
  @extend .content;
  @include flex($ai: flex-start);
  .btn-responsive {
    display: flex;
  }
  .btn-viewer-options {
    @extend .btn-responsive;
    display: none;
  }
}
.list {
  min-width: 350px;
  width: 33.3%;
  height: 100%;
  background: white;
  padding: 24px 50px;
  overflow-y: auto;
  box-shadow: $shadow-subtle;
  .add-new {
    @extend .btn-responsive;
    width: 100%;
    gap: 16px;
  }
  .letter {
    padding: 17px 36px;
    margin-top: 6px;
  }
  .horizontal-ruler {
    width: 100%;
    height: 1px;
    background: $medium-light-grey;
    margin: 8px 0;
  }
}
.viewer-desktop {
  height: 100%;
  flex: 1;
  padding: var(--page-padding);
  .headline-container {
    width: 100%;
    @include flex($jc: space-between, $ai: flex-start);
    app-headline-slogan {
      flex: 1;
    }
    app-arrow-back-btn {
      display: none;
    }
  }
  .contactData {
    font-size: $font-small;
    animation: slide-in 125ms ease;
    .name {
      @include flex($jc: flex-start, $g: 54px);
      .full-name-edit {
        .full-name {
          font-size: $font-larger;
        }
        .edit-btns-container {
          margin-top: 8px;
          display: flex;
        }
      }
    }
    app-email {
      margin-bottom: 16px;
    }
    .phone-nr {
      color: black;
    }
    @keyframes slide-in {
      from {
        transform: translateX(100vw);
      }
      to {
        transform: translateX(0);
      }
    }
  }
  @media screen and (max-width: 1440px) {
    padding: 60px 40px;
  }
  @media screen and (max-width: 1280px) {
    padding: var(--page-padding);
  }
}
.viewer-mobile {
  @extend .viewer-desktop;
  .contactData {
    font-size: $font-small;
    .name {
      gap: 20px;
      .full-name-edit {
        .full-name {
          font-size: 36px;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .btn-responsive {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: $shadow-stronger;
    @include flex();
    img {
      display: block;
    }
  }
  .content {
    background: white;
    .list {
      width: 480px;
      box-shadow: none;
      .add-new {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        span {
          display: none;
        }
      }
    }
    .viewer-desktop,
    .viewer-mobile {
      display: none;
    }
    .show-on-contact-selection {
      display: initial;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $light-grey;
      animation: slide-in 125ms ease;
      .headline-container app-arrow-back-btn {
          display: block;
        }
      .contactData {
        animation: none;
      }
      .btn-viewer-options {

      }
    }
  }
}
@media screen and (max-width: 768px) {
  .btn-responsive {
    position: fixed;
    right: 12px;
    bottom: 80px + 24px;
  }
}