@import '../../../styles.scss';

.content {
    width: 100%;
    height: 100%;
    @include flex($ai: flex-start);
    .list {
        width: 33.3%;
        height: 100%;
        background: white;
        padding: var(--page-padding);
        padding-left: 50px;
        padding-right: 50px;
    }
    .viewer {
        height: 100%;
        flex: 1;
        padding: var(--page-padding);
    }
}

.letter {
    padding: 17px 36px;
}

.horizontal-ruler {
    width: 100%;
    height: 1px;
    background: $medium-light-grey;
    margin: 8px 0;
}