@import "../../../../styles.scss";

.greeting {
  .greeting-msg {
    font-size: $font-larger;
  }
  .user-name {
    font-size: 64px;
    font-weight: 700;
    color: $light-blue;
  }
  @media screen and (max-width: 1280px) {
    position: fixed;
    z-index: -1;
    left: 232px;
    right: 0;
    top: 96px;
    bottom: 0;
    @include flex($dir: column);
    background: $light-grey;
    animation: greet 1400ms;
    @keyframes greet {
      0% {
        opacity: 1;
        z-index: 1;
      }
      65% {
        opacity: 1;
        z-index: 1;
      }
      100% {
        opacity: 0;
        z-index: 1;
      }
    }
  }
  @media screen and (max-width: 768px) {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 80px;
    bottom: 80px;
  }
}
