@import "../../../styles.scss";

.content {
  width: 100%;
  height: 100%;
  @include flex($ai: flex-start, $dir: column);
  form {
    width: 100%;
    flex: 1;
    padding-right: 60px;
    @include flex($dir: column);
    .form-main {
      width: 100%;
      height: 424px;
      display: flex;
      gap: var(--add-task-form-gap);
      .form-side {
        height: 100%;
        flex: 1;
        @include flex($jc: flex-start, $ai: flex-start, $g: 24px, $dir: column);
        .form-field {
          width: 100%;
          @include flex(
            $jc: flex-start,
            $ai: flex-start,
            $g: 8px,
            $dir: column
          );
        }
      }
    }
    .form-bottom {
      position: relative;
      width: 100%;
      flex: 1;
      @include flex($jc: space-between, $ai: flex-end);
      .btns-submit {
        @include flex($g: 16px);
      }
    }
  }
}

.vertical-ruler {
  height: 100%;
  width: 1px;
  background: $medium-light-grey;
}

input,
textarea,
.dropdown-input {
  width: 100%;
  border: 1px solid $medium-light-grey;
  border-radius: 10px;
  &::placeholder {
    color: $medium-light-grey;
  }
}

.dropdown-container {
  width: 100%;
  position: relative;
  z-index: 1;
  .dropdown-input {
    background: white;
  }
  .dropdown-menu {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-left: 0;
    border-radius: 10px;
    background: white;
    z-index: -1;
    li {
      padding: var(--input-padding);
      border-radius: 10px;
      transition: 75ms ease;
      z-index: -1;
      &:hover {
        background: #eeeeee;
        transition: 75ms ease;
      }
    }
  }
  .dropdown-arrow-btn {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    height: 24px;
    width: 24px;
    margin: var(--input-padding);
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: none;
      transition: transform 250ms ease, background-color 75ms ease;
      transform: rotate(0deg);
      &:hover {
        background-color: #d2e3ff;
        transition: transform 250ms ease, background-color 75ms ease;
      }
    }
    .turn {
      transition: transform 250ms ease, background-color 75ms ease;
      transform: rotate(180deg);
    }
  }
}

.prio-btns {
  width: 100%;
  @include flex($jc: space-between, $g: 4%);
  button {
    flex: 1;
    background: white;
    border-radius: 10px;
    box-shadow: $shadow-subtle;
    height: 56px;
    @include flex($g: 8px);
    transition: 75ms ease;
    img {
      width: 20px;
    }
    &:hover {
      box-shadow: $shadow-stronger;
      transition: 75ms ease;
    }
  }
  .selected {
    color: white;
    font-weight: 600;
    box-shadow: none;
    transition: 75ms ease;
  }
  .urgent {
    background: #ff3d00;
    transition: 75ms ease;
  }
  .medium {
    background: #ff7a00;
    transition: 75ms ease;
  }
  .low {
    background: #7ae229;
    transition: 75ms ease;
  }
}

.subtasks-list {
  position: absolute;
  top: 0;
  bottom: 64px;
  left: calc(50% + var(--add-task-form-gap));
  right: 0;
  list-style-type: none;
  padding-left: 0;
}

.btn-secondary {
  .img-container {
    position: relative;
    width: 24px;
    height: 24px;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .secondary-hover,
    .secondary-active {
      opacity: 0;
      transition: 75ms ease;
    }
  }
  &:hover .img-container {
    .secondary-neutral {
      transition: 75ms ease;
      opacity: 0;
    }
    .secondary-hover {
      transition: 75ms ease;
      opacity: 1;
    }
  }
  &:active .img-container {
    .secondary-hover {
      transition: 75ms ease;
      opacity: 0;
    }
    .secondary-active {
      transition: 75ms ease;
      opacity: 1;
    }
  }
}
