<div class="content" (click)="handleGeneralClick()">
    <h2>
        @if(mode == 'add') {
        Add
        } @else {
        Edit
        }
        Task
    </h2>
    <form (submit)="onSubmit($event)">
        <div class="form-main">
            <div class="form-side">
                <div class="form-field">
                    <label for="title">Title<span class="marked-red">*</span></label>
                    <input type="text" [(ngModel)]="task.title" name="title" id="title" placeholder="Enter a title">
                </div>
                <div class="form-field">
                    <label for="description">Description</label>
                    <textarea type="text" [(ngModel)]="task.description" name="description" id="description"
                        placeholder="Enter a description"></textarea>
                </div>
                <div class="form-field">
                    <label for="assigend" (click)="$event.preventDefault()">Assigned to</label>
                    <input type="hidden" [(ngModel)]="task.assigned" name="assigned" id="assigned">
                    <div class="dropdown-container">
                        <div class="dropdown-input" (click)="toggleDropdown($event, 'assigned')">
                            Select contacts to assign
                            <button type="button" class="dropdown-arrow-btn">
                                <img src="../../../assets/img/select_icon.svg" alt="icon"
                                    [ngClass]="{'turn': showAssignedDropdown}">
                            </button>
                        </div>
                        <div class="assigned-icons">
                            @for(assignment of task.assigned; track assignment; let i = $index) {
                            @if(assignment) {
                            <app-contact-icon [name]="users[i].name" [color]="users[i].color"></app-contact-icon>
                            }
                            }
                        </div>
                        <ul class="dropdown-assigned" *ngIf="showAssignedDropdown">
                            @for (user of users; track user; let i = $index) {
                            <li class="assigned-li" (click)="$event.stopPropagation(); toggleAssignment(i)">
                                <app-contact-list-item [name]="user.name" [color]="user.color" [instance]="'task'">
                                </app-contact-list-item>
                                <div class="custom-checkbox" [ngClass]="{'custom-checked' : task.assigned[i]}"></div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="vertical-ruler"></div>
            <div class="form-side">
                <div class="form-field">
                    <label for="due">Due date<span class="marked-red">*</span></label>
                    <input type="date" [(ngModel)]="task.due" name="due" id="due">
                </div>
                <div class="form-field">
                    <label for="prio">Prio</label>
                    <div class="prio-btns">
                        <input type="hidden" [(ngModel)]="task.prio" name="prio" id="prio">
                        <button type="button" (click)="selectPrio('Urgent')"
                            [ngClass]="{'selected urgent': task.prio == 'Urgent'}">
                            <span>Urgent</span>
                            @if(task.prio == 'Urgent') {
                            <img src="../../../assets/img/prio/task_prio_urgent_white.svg" alt="urgent selected">
                            } @else {
                            <img src="../../../assets/img/prio/task_prio_urgent.svg" alt="select urgent">
                            }
                        </button>
                        <button type="button" (click)="selectPrio('Medium')"
                            [ngClass]="{'selected medium': task.prio == 'Medium'}">
                            <span>Medium</span>
                            @if(task.prio == 'Medium') {
                            <img src="../../../assets/img/prio/task_prio_medium_white.svg" alt="medium selected">
                            } @else {
                            <img src="../../../assets/img/prio/task_prio_medium.svg" alt="select medium">
                            }
                        </button>
                        <button type="button" (click)="selectPrio('Low')"
                            [ngClass]="{'selected low': task.prio == 'Low'}">
                            <span>Low</span>
                            @if(task.prio == 'Low') {
                            <img src="../../../assets/img/prio/task_prio_low_white.svg" alt="low selected">
                            } @else {
                            <img src="../../../assets/img/prio/task_prio_low.svg" alt="select low">
                            }
                        </button>
                    </div>
                </div>
                <div class="form-field">
                    <label for="category" (click)="$event.preventDefault()">Category<span
                            class="marked-red">*</span></label>
                    <input type="hidden" [(ngModel)]="task.category" name="category" id="category">
                    <div class="dropdown-container">
                        <div class="dropdown-input" (click)="toggleDropdown($event, 'category')">
                            @if(task.category == null) {
                            Select task category
                            } @else {
                            {{task.category}}
                            }
                            <button type="button" class="dropdown-arrow-btn">
                                <img src="../../../assets/img/select_icon.svg" alt="icon"
                                    [ngClass]="{'turn': showCategoryDropdown}">
                            </button>
                        </div>
                        <ul class="dropdown-category" *ngIf="showCategoryDropdown">
                            <li (click)="setCategory('Technical Task')">Technical Task</li>
                            <li (click)="setCategory('User Story')">User Story</li>
                        </ul>
                    </div>
                </div>
                <div class="form-field relative">
                    <label for="subtask">Subtasks</label>
                    <input type="hidden" [(ngModel)]="task.subtasks" name="subtasks" id="subtasks">
                    <input type="text" name="subtask" #subtask placeholder="Add new subtask"
                        (keydown.enter)="addSubtask()">
                    <button type="button" (click)="addSubtask()" class="custom-input-btn">
                        <img src="../../../assets/img/plus_icon.svg" alt="icon">
                    </button>
                </div>
            </div>
        </div>
        <div class="form-bottom">
            <ul class="subtasks-list" (click)="$event.stopPropagation()">
                @for (subtask of task.subtasks; track subtask; let i = $index) {
                <app-subtask [(task)]="task.subtasks[i]" (delete)="deleteSubtask(i)"
                    [formClick]="formClick.asObservable()"></app-subtask>
                }
            </ul>
            <p class="font-small"><span class="marked-red">*</span>This field is required</p>
            <div class="btns-submit">
                <button type="reset" class="btn-secondary btn-x">
                    Clear
                    <div class="img-container">
                        <img src="../../../assets/img/cancel.svg" class="secondary-neutral" alt="clear">
                        <img src="../../../assets/img/cancel_hover.svg" class="secondary-hover" alt="clear">
                        <img src="../../../assets/img/cancel_active.svg" class="secondary-active" alt="clear">
                    </div>
                </button>
                <button type="submit" class="btn-primary">
                    Create Task
                    <img src="../../../assets/img/check_white.svg" alt="create task">
                </button>
            </div>
        </div>
    </form>
</div>
<app-toast-notification [message]="'Task added to board'" [show]="showTaskAddedToast"></app-toast-notification>