@import "../../../styles.scss";
@import "../../app.component.scss";

@mixin column-layout() {
  display: initial;
  .form-main {
    flex-direction: column;
  }
  .vertical-ruler {
    display: none;
  }
}

.content {
  @extend .content;
  @include flex($ai: flex-start, $dir: column);
  form {
    overflow-y: auto;
    width: 100%;
    flex: 1;
    @include flex($dir: column);
    .form-main {
      width: 100%;
      display: flex;
      gap: var(--add-task-form-gap);
      .form-side {
        height: 100%;
        flex: 1;
        @include flex($jc: flex-start, $ai: flex-start, $g: 24px, $dir: column);
        .form-field {
          width: 100%;
          @include flex(
            $jc: flex-start,
            $ai: flex-start,
            $g: 8px,
            $dir: column
          );
          label {
            color: $anthracite;
          }
        }
      }
    }
    .form-bottom {
      position: relative;
      width: 100%;
      flex: 1;
      @include flex($g: 16px, $dir: column);
      .bottom-container {
        flex: 1;
        width: 100%;
        @include flex($jc: space-between, $ai: flex-end);
        .btns-submit {
          @include flex($g: 16px);
        }
      }
    }
  }
  .btn-close {
    position: absolute;
    right: 36px;
    top: 60px;
  }
  @media screen and (max-width: 1024px) {
    @include column-layout();
  }
  @media screen and (max-width: 768px) {
    form {
      flex: 0;
      max-height: calc(100% - 80px - 80px);
      padding-top: 120px;
      .form-bottom .bottom-container {
        align-items: center;
        background: $light-grey;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 80px;
        padding: 16px;
        @media screen and (max-width: 350px) {
          padding: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .btn-secondary {
      display: none;
    }
  }
  @media screen and (max-width: 480px) {
    .bottom-container .font-small,
    span {
      font-size: $font-tiny;
    }
  }
}

.vertical-ruler {
  height: 100%;
  width: 1px;
  background: $medium-light-grey;
}

input,
textarea,
.dropdown-input {
  width: 100%;
  @extend .text-input;
}

.description {
  height: 120px;
  resize: vertical;
  background-image: url(../../../assets/img/resize_handle.svg);
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) calc(100% - 4px);
  &::-webkit-resizer {
    display: none;
  }
}

.dropdown-container {
  width: 100%;
  position: relative;
  z-index: 1;
  .dropdown-input {
    background: white;
  }
  .dropdown-menu {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-left: 0;
    border-radius: 10px;
    background: white;
    z-index: -1;
    li {
      padding: var(--input-padding);
      border-radius: 10px;
      transition: 75ms ease;
      z-index: -1;
    }
    @media screen and (max-width: 768px) {
      padding-top: 26px;
    }
  }
  .dropdown-arrow-btn {
    @extend .custom-input-btn;
    top: 0;
    z-index: 1;
    .turn {
      transition: transform 250ms ease, background-color 75ms ease;
      transform: rotate(180deg);
    }
  }
}

.dropdown-assigned {
  @extend .dropdown-menu;
  max-height: 294px;
  overflow-y: auto;
  li {
    @include flex($jc: space-between);
    cursor: pointer;
    .custom-checkbox {
      width: 24px;
      height: 24px;
      background: url("../../../assets/img/checkbox.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .custom-checked {
      background: url("../../../assets/img/checkbox_checked.svg");
    }
    &:hover {
      color: white;
      background-color: $anthracite;
      transition: 75ms ease;
      .custom-checkbox {
        background: url("../../../assets/img/checkbox_white.svg");
      }
      .custom-checked {
        background: url("../../../assets/img/checkbox_white_checked.svg");
      }
    }
    &:active {
      background: $anthracite-darkened;
      transition: 75ms ease;
    }
  }
  @media screen and (max-height: 1024px) {
    max-height: 228px;
  }
}

.assigned-badges {
  position: absolute;
  left: 0;
  bottom: -48px;
  z-index: -1;
  display: flex;
  app-person-badge {
    margin-right: -12px;
  }
  @media screen and (max-width: 1024px) {
    position: relative;
    top: 6px;
    bottom: 0;
  }
}

.due {
  &::-webkit-calendar-picker-indicator {
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: -8px;
    background-image: url(../../../assets/img/calendar_icon.svg);
    background-size: 24px;
    cursor: pointer;
    transition: 75ms ease;
  }
  &::-webkit-calendar-picker-indicator:hover {
    background-image: url(../../../assets/img/calendar_icon_hover.svg);
    transition: 75ms ease;
  }
  &::-webkit-calendar-picker-indicator:active {
    background-image: url(../../../assets/img/calendar_icon_active.svg);
    transition: 75ms ease;
  }
}

.due-text-input {
  position: absolute;
  padding: 0;
  background: white;
  left: 21px;
  bottom: 5px;
  width: calc(100% - 72px);
  height: 40px;
  border: none;
  border-radius: 0;
}

.prio-btns {
  width: 100%;
  @include flex($jc: space-between, $g: 4%);
  button {
    flex: 1;
    background: white;
    border-radius: 10px;
    box-shadow: $shadow-subtle;
    height: 56px;
    @include flex($g: 8px);
    transition: 75ms ease;
    img {
      width: 20px;
    }
    &:hover {
      box-shadow: $shadow-stronger;
      transition: 75ms ease;
    }
    @media screen and (max-width: 1280px) {
      span {
        font-size: $font-small;
      }
    }
    @media screen and (max-width: 768px) {
      height: 41px;
      padding: 10px;
    }
    @media screen and (max-width: 480px) {
      span {
        font-size: $font-tiny;
      }
      padding: 6px;
    }
  }
  .selected {
    color: white;
    font-weight: 600;
    box-shadow: none;
    transition: 75ms ease;
  }
  .urgent {
    background: #ff3d00;
    transition: 75ms ease;
  }
  .medium {
    background: #ff7a00;
    transition: 75ms ease;
  }
  .low {
    background: #7ae229;
    transition: 75ms ease;
  }
}

.dropdown-category {
  @extend .dropdown-menu;
  li:hover {
    background: #eeeeee;
    transition: 75ms ease;
  }
}

.subtasks-list {
  position: absolute;
  top: 0;
  bottom: 64px;
  left: calc(50% + var(--add-task-form-gap));
  right: 0;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-top: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  @media screen and (max-width: 1024px) {
    width: 100%;
    position: relative;
    left: 0;
  }
}

.overlay-custom-column-layout {
  @include column-layout();
  h2 {
    display: none;
  }
  .assigned-badges {
    position: relative;
    top: 6px;
    bottom: 0;
  }
}
