@import '../styles.scss';

.content {
    display: flex;
    width: 100%;
    height: 100%;
    app-menu {
        width: 232px;
    }
    .main {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        app-header {
            height: 96px;
            box-shadow: $shadow-subtle;
            position: relative;
            z-index: 1;
        }
        .page {
            flex: 1;
            min-height: 100px;
            background: $light-grey;
        }
        .padding-page {
            @extend .page;
            padding: var(--page-padding);
        }
    }
}

