@import "../styles.scss";

.content {
  width: 100%;
  height: 100%;
}

.scrollable {
  overflow-y: auto;
}

.content-all {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  app-menu {
    width: 232px;
  }
  .main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    app-header {
      height: 96px;
      width: 100%;
      box-shadow: $shadow-subtle;
      position: relative;
      z-index: 1;
    }
    .page-wrapper {
      flex: 1;
      width: 100%;
      background: $light-grey;
      .padding {
        padding: var(--page-padding);
      }
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    .main {
      height: calc(100vh - 80px);
      app-header {
        height: 80px;
      }
    }
    app-menu {
      width: 100%;
      height: 80px;
      @media screen and (max-width: 350px) {
        height: 72px;
      }
    }
    .page {
      overflow: hidden;
    }
    .task-responsive-padding {
      margin-bottom: 10px;
    }
  }
}

h2 {
  font-weight: 700;
  font-size: 61px;
  margin: 0;
  margin-bottom: var(--page-headline-margin);
  @media screen and (max-width: 768px) {
    font-size: $font-larger;
  }
}

h3 {
  font-weight: 400;
  margin: 40px 0;
}

h4 {
  margin-bottom: 16px;
}

h5 {
  margin: 0;
  font-size: $font-normal;
  color: $anthracite;
}

.btn-main {
  padding: 15px 24px;
  font-size: 21px;
  border-radius: 10px;
  @include flex($g: 4px);
  transition: 75ms ease;
  img {
    display: block;
  }
  &:hover {
    box-shadow: $shadow-stronger;
    transition: 75ms ease;
  }
  &:active {
    transition: 75ms ease;
  }
  @media screen and (max-width: 640px) {
    padding: 15px;
  }
  @media screen and (max-width: 480px) {
    font-size: 18px;
    padding: 10px;
  }
}

.btn-primary {
  @extend .btn-main;
  color: white;
  background: $anthracite;
  font-weight: 700;
  span {
    font-weight: inherit;
  }
  &:hover {
    background: $light-blue;
  }
  &:active {
    background: $anthracite-darkened;
  }
}

.btn-secondary {
  @extend .btn-main;
  border: 1px solid $anthracite;
  &:hover {
    color: $light-blue;
    border-color: $light-blue;
  }
  &:active {
    color: $anthracite-darkened;
    border-color: $anthracite-darkened;
  }
  &[disabled] {
    color: $grey;
    border-color: $grey;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-x {
  .img-container {
    position: relative;
    width: 24px;
    height: 24px;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .secondary-hover,
    .secondary-active {
      opacity: 0;
      transition: 75ms ease;
    }
  }
  &:hover .img-container {
    .secondary-neutral {
      transition: 75ms ease;
      opacity: 0;
    }
    .secondary-hover {
      transition: 75ms ease;
      opacity: 1;
    }
  }
  &:active .img-container {
    .secondary-hover {
      transition: 75ms ease;
      opacity: 0;
    }
    .secondary-active {
      transition: 75ms ease;
      opacity: 1;
    }
  }
}
