<div class="content-all" (click)="closeHeaderDropdown()">
  <app-menu *ngIf="!onLogInPage() && loggedIn"></app-menu>
  <div class="main">
    <app-header *ngIf="!onLogInPage() && loggedIn" [currentUser]="currentUser"
      [displayDropdown]="showHeaderDropdown" (updateDropdown)="showHeaderDropdown = $event"></app-header>
    <div class="page-wrapper" [ngClass]="{'scrollable': getCurrentRoute() != '/contacts'}">
      <div class="page" id="page" [ngClass]="{'padding': getCurrentRoute() != '/contacts','task-responsive': getCurrentRoute() == '/add_task'}">
        @if(!MAIN_ROUTES.includes(getCurrentRoute()) || loggedIn) {
        <router-outlet></router-outlet>
        }
      </div>
    </div>
  </div>
</div>