<div class="content-all" (click)="closeHeaderDropdown()" *ngIf="currentUser || onLogInPage() || onOtherPage()">
  <app-menu *ngIf="currentUser && !onLogInPage()" />
  <div class="main">
    <app-header *ngIf="currentUser && !onLogInPage()" [currentUser]="currentUser" [displayDropdown]="showHeaderDropdown"
      (updateDropdown)="showHeaderDropdown = $event" />
    <div class="page-wrapper" id="pageWrapper" [ngClass]="{'scrollable': getCurrentRoute() != '/contacts'}">
      <div class="page" id="page"
        [ngClass]="{'padding': getCurrentRoute() != '/contacts','task-responsive': getCurrentRoute() == '/add_task'}">
        <router-outlet />
      </div>
    </div>
  </div>
</div>