@import '../../../styles.scss';

@mixin large-responsive-size() {
    width: 80px;
    height: 80px;
    font-size: $font-large;
    img {
        width: 42px;
        height: 42px;
    }   
}

div {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    @include flex();
    border: 2px solid white;
    img {
        width: 24px;
        height: 24px;
        filter: brightness(2);
    }
}

.large-desktop {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: $font-larger;
    border-width: 3px;
    img {
        width: 64px;
        height: 64px;
    }
    @media screen and (max-height: 720px) {
        @include large-responsive-size();     
    }
}
.large-mobile {
    @include large-responsive-size();
    @media screen and (max-width: 350px) {
        width: 64px;
        height: 64px;
        img {
            width: 36px;
            height: 36px;
        }        
    }
}

.current-user {
    width: 56px;
    height: 56px;
    background: none;
    font-size: 18px;
    font-weight: 700;
    color: $light-blue;
    border: 3px solid $anthracite;
    cursor: pointer;
    transition: 75ms ease;
    &:hover {
        transition: 75ms ease;
        background: #e1e6ec;
    }
    @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
        font-size: $font-tiny;
        border-width: 2px;
    }
}