@import '../../../styles.scss';

div {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    @include flex();
    border: 2px solid white;
    img {
        width: 24px;
        height: 24px;
        filter: brightness(2);
    }
}

.large {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: $font-larger;
    border-width: 3px;
    img {
        width: 64px;
        height: 64px;
    }
}

.current-user {
    width: 56px;
    height: 56px;
    background: none;
    font-size: 18px;
    font-weight: 700;
    color: $light-blue;
    border: 3px solid $anthracite;
}