@import "../../styles.scss";
@import "../app.component.scss";

$intro-duration: 800ms ease-in;
$logo-starting-width: 274px;
$logo-starting-height: $logo-starting-width * 1.219;

.content {
  @include flex();
}

.logo {
  position: absolute;
  top: 64px;
  left: 64px;
  img {
    width: 100px;
    height: 122px;
  }
}
.intro {
  animation: intro-anchor $intro-duration;
  @keyframes intro-anchor {
    0% {
      top: calc(50vh - $logo-starting-width / 2);
      top: calc(50dvh - $logo-starting-width / 2);
      left: calc(50vw - $logo-starting-height / 2);
    }
    15% {
      top: calc(50vh - $logo-starting-width / 2);
      top: calc(50dvh - $logo-starting-width / 2);
      left: calc(50vw - $logo-starting-height / 2);
    }
    100% {
      top: 64px;
      left: 64px;
    }
  }
  img {
    animation: intro-img $intro-duration;
    @keyframes intro-img {
      0% {
        width: $logo-starting-width;
        height: $logo-starting-height;
      }
      15% {
        width: $logo-starting-width;
        height: $logo-starting-height;
      }
      100% {
        width: 100px;
        height: 122px;
      }
    }
  }
}
.logo-white {
  @extend .logo;
  display: none;
}
.await-intro {
  animation: await-intro $intro-duration;
  @keyframes await-intro {
    0% {
      display: none;
      opacity: 0;
    }
    99% {
      display: flex;
      opacity: 0;
    }
    100% {
      display: flex;
      opacity: 1;
    }
  }
}
.go-to-sign-up {
  position: fixed;
  top: 60px;
  right: 120px;
  @include flex($g: 35px);
  .btn-primary {
    font-size: $font-small;
    font-weight: 500;
  }
}
.legal-info {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 36px;
  @include flex($g: 16px);
  a {
    @extend .bold-on-hover;
    p {
      top: 0;
      bottom: 0;
      font-size: $font-small;
      color: $dark-grey;
      transition: 75ms ease;
    }
    &:hover {
      p {
        transition: 75ms ease;
        font-weight: 700;
        color: $light-blue;
      }
    }
  }
  .left-link {
    p {
      right: 0;
    }
  }
  .right-link {
    p {
      left: 0;
    }
  }
}
.sub-container-bottom {
  @extend .sub-container;
}
@media screen and (min-width: 769px) and (max-height: 800px) {
  .content {
    @include flex($jc: space-between, $ai: flex-start);
    .logo-after-animation {
      position: initial;
    }
    .go-to-sign-up {
      position: initial;
      @include flex($ai: flex-end, $g: 16px, $dir: column);
    }
    app-registration-form {
      height: 100%;
      @include flex();
    }
    .sub-container,
    .sub-container-bottom {
      flex: 1;
    }
  }
}
@media screen and (max-height: 500px) {
  app-registration-form {
    margin-bottom: 32px;
  }
  .go-to-sign-up * {
    font-size: $font-small;
  }
  @media screen and (min-width: 769px) {
    .legal-info {
      right: 36px;
      @include flex($ai: flex-end, $g: 16px, $dir: column);
    }
  }
}
@media screen and ((max-width: 768px) or ((max-height: 800px) and (max-width: 1024px))) {
  .logo-wrapper {
    .logo {
      position: initial;
      img {
        width: 64px;
        height: 78px;
      }
    }
    @keyframes intro-img-responsive {
      0% {
        width: calc($logo-starting-width / 2);
        height: calc($logo-starting-height / 2);
      }
      15% {
        width: calc($logo-starting-width / 2);
        height: calc($logo-starting-height / 2);
      }
      100% {
        width: 64px;
        height: 78px;
      }
    }
    .intro {
      position: absolute;
      animation: intro-anchor-responsive $intro-duration;
      @keyframes intro-anchor-responsive {
        0% {
          top: calc(50vh - $logo-starting-width / 4);
          top: calc(50dvh - $logo-starting-width / 4);
          left: calc(50vw - $logo-starting-height / 4);
        }
        15% {
          top: calc(50vh - $logo-starting-width / 4);
          top: calc(50dvh - $logo-starting-width / 4);
          left: calc(50vw - $logo-starting-height / 4);
        }
        100% {
          top: 16px;
          left: 16px;
        }
      }
      img {
        animation: intro-img-responsive $intro-duration;
      }
    }
    .logo-white {
      display: initial;
      position: absolute;
      z-index: -1;
      animation: logo-white-responsive $intro-duration;
      @keyframes logo-white-responsive {
        0% {
          display: initial;
          top: calc(50vh - $logo-starting-width / 4);
          top: calc(50dvh - $logo-starting-width / 4);
          left: calc(50vw - $logo-starting-height / 4);
          opacity: 1;
          z-index: 1;
        }
        15% {
          display: initial;
          top: calc(50vh - $logo-starting-width / 4);
          top: calc(50dvh - $logo-starting-width / 4);
          left: calc(50vw - $logo-starting-height / 4);
          opacity: 0.7;
          z-index: 1;
        }
        100% {
          display: initial;
          top: 16px;
          left: 16px;
          opacity: 0;
          z-index: 1;
        }
      }
      img {
        animation: intro-img-responsive $intro-duration;
      }
    }
  }
  .content {
    display: initial;
    animation: intro-bg $intro-duration;
    position: initial;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    app-registration-form {
      height: auto;
    }
    .logo-wrapper {
      margin-bottom: 8px;
    }
    .sub-container-bottom {
      margin-top: 8px;
    }
    @keyframes intro-bg {
      0% {
        position: fixed;
        background-color: #2a3647ff;
      }
      15% {
        position: fixed;
        background-color: #2a3647ff;
      }
      100% {
        position: fixed;
        background-color: #2a364700;
      }
    }
    min-height: calc(100% - var(--page-padding));
    overflow-y: auto;
    .sub-container {
      flex: 1;
    }
    .sub-container-bottom {
      @include flex($ai: space-around, $g: 4px, $dir: column);
      .go-to-sign-up {
        flex: 1;
        position: initial;
        @include flex($ai: flex-end, $g: 35px);
        * {
          height: 51px;
          @include flex($jc: flex-start);
        }
      }
      .legal-info {
        flex: 1;
        position: initial;
        gap: 32px;
      }
    }
  }
}
