@import './../../../styles.scss';

button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 75ms ease;
  @include flex();
  img {
    display: blocK;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: #eeeeee;
    transition: 75ms ease;
  }
}