@import '../../../styles.scss';

.content {
    width: 100%;
    height: 100%;
    margin-bottom: var(--page-headline-margin);
    @include flex($jc: flex-start, $g: 30px);
    h2 {
      margin: 0;
    }
    .separator {
      height: 56px;
      width: 3px;
      background: $light-blue;
    }
    span {
      font-size: $font-large;
      color: $anthracite;
    }
}