@import "../../../styles.scss";
@import "../../app.component.scss";

.separator {
  background: $light-blue;
}

.content {
  height: fit-content;
  margin-bottom: var(--page-headline-margin);
  @include flex($jc: flex-start, $g: 30px);
  h2 {
    margin: 0;
  }
  .separator-desktop {
    @extend .separator;
    height: 56px;
    width: 3px;
  }
  span {
    font-size: $font-large;
    color: $anthracite;
  }
  .separator-mobile {
    @extend .separator;
    display: none;
  }
  @media screen and (max-width: 1280px) {
    @include flex($jc: flex-start, $ai: flex-start, $g: 8px, $dir: column);
    .separator-desktop {
      display: none;
    }
    .separator-mobile {
      display: block;
      margin-top: 8px;
      height: 3px;
      width: 90px;
    }
  }
  @media screen and (max-width: 768px) {
    span {
      font-size: $font-normal;
    }
  }
  @media screen and (max-height: 720px) {
    margin-bottom: 12px;
  }
  @media screen and (max-height: 640px) {
    .separator, span {
      display: none;
    }
  }
}
