<div class="content">
    <app-headline-slogan [headline]="'Join 360'" [slogan]="'Key metrics at a glance'"></app-headline-slogan>
    <div class="content-main">
        <div class="stats-container">
            <div class="stats-row">
                <app-stats-item [name]="'To do'" [value]="getFilteredTasks('To do').length"></app-stats-item>
                <app-stats-item [name]="'Done'" [value]="getFilteredTasks('Done').length"></app-stats-item>
            </div>
            <div class="stats-row stats">
                <app-stats-item [name]="'Urgent'" [value]="getUrgent().length"
                    [deadline]="printDate(getMostUrgent())"></app-stats-item>
            </div>
            <div class="stats-row">
                <app-stats-item [name]="'Tasks in board'" [value]="getTaskNumber()" class="stats"></app-stats-item>
                <app-stats-item [name]="'Tasks in progress'" [value]="getFilteredTasks('In progress').length"
                    class="stats"></app-stats-item>
                <app-stats-item [name]="'Awaiting feedback'" [value]="getFilteredTasks('Await feedback').length"
                    class="stats"></app-stats-item>
            </div>
        </div>
        <app-greeting></app-greeting>
    </div>
</div>