@import "../../../styles.scss";
@import "../../app.component.scss";

.content {
  @extend .content;
  @include flex($jc: flex-start, $ai: flex-start, $dir: column);
  .title {
    margin-bottom: var(--page-headline-margin);
    @include flex($g: 30px);
    h2 {
      margin: 0;
    }
    .separator {
      height: 56px;
      width: 3px;
      background: $light-blue;
    }
  }
  .content-main {
    width: 100%;
    flex: 1;
    @include flex($g: 60px);
  }
  @media screen and (max-width: 1024px) {
    .content-main {
      gap: 0;
      margin-bottom: 108px;
    }
  }
}

.stats-container {
  flex: 1;
  height: 100%;
  @include flex($g: 30px, $dir: column);
  .stats-row {
    width: 100%;
    flex: 1;
    @include flex($g: 30px);
    app-stats-item {
      flex: 1;
      height: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    max-width: 480px;
    max-height: 450px;
    gap: 16px;
    .stats-row {
      gap: 16px;
    }
  }
  @media screen and (max-width: 480px) {
    gap: 10px;
    max-height: calc(100vh - 80px - 80px - 108px);
    .stats-row {
      gap: 10px;
    }
  }
}