@import "../../../../styles.scss";

.overlay {
  .content {
    background: white;
    border-radius: 30px;
    width: 525px;
    max-height: 80%;
    padding: 48px 40px;
    overflow-wrap: anywhere;
    @include flex($ai: flex-start, $g: 24px, $dir: column);
    h2 {
      margin-bottom: 0;
    }
  }
}

.top-container {
  width: 100%;
  @include flex($jc: space-between);
}

.prio {
  @include flex($jc: flex-start, $g: 10px);
  app-prio-icon {
    display: block;
    width: 18px;
    height: 18px;
  }
}

.assigned-container {
  width: 100%;
}

.subtask-container {
  width: 100%;
  cursor: pointer;
  @include flex($jc: flex-start, $g: 16px);
  .subtask {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.edit-btns-container {
  width: 100%;
  @include flex($jc: flex-end, $g: 4px);
  .separator {
    width: 1px;
    height: 24px;
    background: $medium-light-grey;
    margin-left: 3px;
  }
}

@media screen and (max-width: 768px) {
  .overlay .content {
    max-width: 90%;
    padding: 32px 24px;
    @media screen and (max-width: 480px) {
      max-width: 95%;
      padding: 24px 16px;
    }
  }
}