<div *ngIf="task" class="overlay" (click)="cancel()">
    <div class="content" [ngClass]="translated ? 'slid-out' : 'slid-in'" (click)="$event.stopPropagation()">
        <div class="top-container">
            <app-task-category [category]="task.category" />
            <app-close-btn (click)="cancel()" />
        </div>
        <h2>{{task.title}}</h2>
        <p *ngIf="task.description.length > 0">{{task.description}}</p>
        <table class="due-prio-table">
            <tr>
                <td>Due date:</td>
                <td>{{task.getDueToText()}}</td>
            </tr>
            <tr *ngIf="task.prio != null">
                <td>Priority:</td>
                <td>
                    <div class="prio">
                        {{task.prio}}
                        <app-prio-icon [prio]="task.prio" />
                    </div>
                </td>
            </tr>
        </table>
        <div class="assigned-container" *ngIf="task.assigned.length > 0">
            <p>Assigned to:</p>
            @for(assignment of task.assigned; track assignment) {
            @if(assignment) {
            <app-contact-list-item [name]="usersService.getUserByAppId(assignment).user.username"
                [color]="usersService.getUserByAppId(assignment).getColor()" [instance]="'task'" />
            }
            }
        </div>
        <div *ngIf="task.subtasks && task.subtasks.length > 0">
            <p>Subtasks</p>
            @for (subtask of task.subtasks; track subtask; let i = $index) {
            <div class="subtask-container" (click)="toggleSubtaskStatus(i)">
                <div class="custom-checkbox" [ngClass]="{'custom-checked' : subtask.status == 'Done'}"></div>
                <p class="subtask">{{subtask.name}}</p>
            </div>
            }
        </div>
        <div class="edit-btns-container">
            <button class="edit-btn" name="Delete" (click)="deleteTask()">
                <img src="../../../../assets/img/remove.svg" alt="delete task">
                <p>Delete</p>
            </button>
            <div class="separator"></div>
            <button class="edit-btn" name="Edit" (click)="editTask()">
                <img src="../../../../assets/img/edit.svg" alt="edit task">
                <p>Edit</p>
            </button>
        </div>
    </div>
</div>