@import "./fonts.scss";

$anthracite: #2a3647;
$anthracite-darkened: #091931;
$light-grey: #f6f7f8;
$medium-light-grey: #d1d1d1;
$grey: #cdcdcd;
$dark-grey: #a8a8a8;
$shadow-subtle: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
$shadow-stronger: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$font-small: 16px;

@mixin flex($jc: center, $ai: center, $g: 0, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $dir;
}

html,
body,
p {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body,
p,
span,
input,
textarea {
  font-family: "Inter";
  font-weight: 400;
  font-size: $font-small;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  padding: 12px 21px;
}

h2 {
  font-weight: 700;
  font-size: 61px;
  margin: 0;
  margin-bottom: 64px;
}

.marked-red {
  color: #ff8190;
}
