@import "./fonts.scss";

$anthracite: #2a3647;
$anthracite-lightened: #2a3d59;
$anthracite-darkened: #091931;
$light-blue: #29abe2;
$link-blue: #007cee;
$light-grey: #f6f7f8;
$medium-light-grey: #d1d1d1;
$grey: #cdcdcd;
$dark-grey: #a8a8a8;
$shadow-subtle: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
$shadow-stronger: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$font-larger: 47px;
$font-large: 27px;
$font-medium: 24px;
$font-normal: 20px;
$font-small: 16px;

@mixin flex($jc: center, $ai: center, $g: 0, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $dir;
}

:root {
  --page-padding: 120px 100px;
  --input-padding: 12px 21px;
  --add-task-form-gap: 44px;
  --page-headline-margin: 64px;
}

html,
body,
p {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body,
p,
span,
input,
button,
textarea {
  font-family: "Inter";
  font-weight: 400;
  font-size: $font-normal;
}

.text-input {
  border: 1px solid $medium-light-grey;
  border-radius: 10px;
  &::placeholder {
    color: $medium-light-grey;
  }
}

.font-small {
  font-size: $font-small;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-main {
  padding: 15px 24px;
  font-size: 21px;
  border-radius: 10px;
  @include flex($g: 4px);
  transition: 75ms ease;
  img {
    display: block;
  }
  &:hover {
    box-shadow: $shadow-stronger;
    transition: 75ms ease;
  }
  &:active {
    transition: 75ms ease;
  }
}

.btn-primary {
  @extend .btn-main;
  color: white;
  background: $anthracite;
  font-weight: 700;
  &:hover {
    background: $light-blue;
  }
  &:active {
    background: $anthracite-darkened;
  }
}

.btn-secondary {
  @extend .btn-main;
  border: 1px solid $anthracite;
  &:hover {
    color: $light-blue;
    border-color: $light-blue;
  }
  &:active {
    color: $anthracite-darkened;
    border-color: $anthracite-darkened;
  }
}

.btn-x {
  .img-container {
    position: relative;
    width: 24px;
    height: 24px;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .secondary-hover,
    .secondary-active {
      opacity: 0;
      transition: 75ms ease;
    }
  }
  &:hover .img-container {
    .secondary-neutral {
      transition: 75ms ease;
      opacity: 0;
    }
    .secondary-hover {
      transition: 75ms ease;
      opacity: 1;
    }
  }
  &:active .img-container {
    .secondary-hover {
      transition: 75ms ease;
      opacity: 0;
    }
    .secondary-active {
      transition: 75ms ease;
      opacity: 1;
    }
  }
}

input,
textarea,
.dropdown-input {
  outline: none;
  padding: var(--input-padding);
}

.dropdown-input {
  @extend .prevent-select;
}

h2 {
  font-weight: 700;
  font-size: 61px;
  margin: 0;
  margin-bottom: var(--page-headline-margin);
}

h3 {
  font-weight: 400;
  margin: 40px 0;
}

h4 {
  margin-bottom: 16px;
}

h5 {
  font-size: $font-medium;
  color: $anthracite;
}

.marked-red {
  color: #ff8190;
}

.relative {
  position: relative;
}

.no-bg {
  background: none;
}

.edit-btn {
  position: relative;
  @include flex($jc: flex-start);
  img {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: 75ms ease;
  }
  p {
    font-size: $font-small;
    position: absolute;
    right: 4%;
    top: 3px;
    bottom: 3px;
  }
  &::after {
    font-size: $font-small;
    display: block;
    content: attr(name);
    font-weight: bold;
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
  &:hover {
    img {
      filter: invert(56%) sepia(80%) saturate(2198%) hue-rotate(166deg)
        brightness(102%) contrast(77%);
      transition: 75ms ease;
    }
    p {
      font-weight: 700;
      color: $light-blue;
    }
  }
}

.custom-input-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 24px;
  width: 24px;
  margin: var(--input-padding);
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: none;
    transition: transform 250ms ease, background-color 75ms ease;
    transform: rotate(0deg);
    &:hover {
      background-color: #d2e3ff;
      transition: transform 250ms ease, background-color 75ms ease;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  @include flex();
}
