@import "./fonts.scss";

$anthracite: #2a3647;
$anthracite-lightened: #2a3d59;
$anthracite-darkened: #091931;
$light-blue: #29abe2;
$link-blue: #007cee;
$light-grey: #f6f7f8;
$medium-light-grey: #d1d1d1;
$grey: #cdcdcd;
$dark-grey: #a8a8a8;
$error-red: #ff8190;
$shadow-subtle: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
$shadow-stronger: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$font-larger: 47px;
$font-large: 27px;
$font-medium: 24px;
$font-normal: 20px;
$font-small: 16px;
$font-tiny: 13px;

@mixin flex($jc: center, $ai: center, $g: 0, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $dir;
}

:root {
  --page-padding: 120px 100px;
  --input-padding: 12px 21px;
  --add-task-form-gap: 44px;
  --page-headline-margin: 64px;
  @media screen and (max-height: 1024px) {
    --page-padding: 60px 60px;
    --add-task-form-gap: 24px;
    --page-headline-margin: 40px;
  }
  @media screen and (max-width: 1280px) {
    --page-padding: 40px 30px;
    --add-task-form-gap: 14px;
    --page-headline-margin: 40px;
  }
  @media screen and (max-width: 768px) {
    --input-padding: 10px 21px;
    --page-padding: 16px;
  }
  @media screen and (max-width: 350px) {
    --input-padding: 10px 21px;
    --page-padding: 10px;
  }
}

html,
body,
p {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  scroll-behavior: smooth;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body,
p,
span,
input,
button,
textarea {
  font-family: "Inter";
  font-weight: 400;
  font-size: $font-normal;
  @media screen and (max-width: 768px) {
    font-size: $font-small;
  }
}

.text-input {
  border: 1px solid $medium-light-grey;
  border-radius: 10px;
  transition: 50ms ease-out;
  &::placeholder {
    color: $medium-light-grey;
  }
  &:focus {
    transition: 50ms ease-out;
    border-color: $light-blue;
  }
}

.font-small {
  font-size: $font-small;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea,
.dropdown-input {
  outline: none;
  padding: var(--input-padding);
}

.dropdown-input {
  @extend .prevent-select;
}

.marked-red {
  color: #ff8190;
}

.relative {
  position: relative;
}

.no-bg {
  background: none;
}

.bold-on-hover {
  position: relative;
  &::after {
    font-size: $font-small;
    display: block;
    content: attr(name);
    font-weight: bold;
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
  p {
    position: absolute;
  }
}

.edit-btn {
  @extend .bold-on-hover;
  @include flex($jc: flex-start);
  img {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: 75ms ease;
  }
  p {
    font-size: $font-small;
    right: 4%;
    top: 3px;
    bottom: 3px;
  }
  &:hover {
    img {
      filter: invert(56%) sepia(80%) saturate(2198%) hue-rotate(166deg)
        brightness(102%) contrast(77%);
      transition: 75ms ease;
    }
    p {
      font-weight: 700;
      color: $light-blue;
    }
  }
}

.custom-input-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 24px;
  width: 24px;
  margin: var(--input-padding);
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: none;
    transition: transform 250ms ease, background-color 75ms ease;
    transform: rotate(0deg);
    &:hover {
      background-color: #d2e3ff;
      transition: transform 250ms ease, background-color 75ms ease;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  @include flex();
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  background: url("./assets/img/checkbox.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.custom-checked {
  background: url("./assets/img/checkbox_checked.svg");
}

.slid-out {
  transition: transform 125ms ease;
  transform: translateX(100vw);
  @media screen and (max-width: 768px) {
  transform: translateY(100vh);
  }
}

.slid-in {
  transition: transform 125ms ease;
  transform: translateX(0);
}

.validation-error {
  input {
    transition: 50ms ease-out;
    border-color: $error-red;
  }
  p {
    font-size: $font-tiny;
    color: $error-red;
    position: absolute;
    left: 0;
    top: calc(100% + 6px);
  }
}
