@import '../../../../styles.scss';

a {
    display: block;
    color: $link-blue;
    font-size: $font-small;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 50ms ease-out;

    &:hover {
        transition: 50ms ease-out;
        font-weight: 600;
    }
}