<div class="task-column" (dragenter)="onTaskDragEnter($event)" (dragover)="onTaskDragOver($event)" (dragleave)="onTaskDragLeave($event)" (drop)="onTaskDrop($event)">
    <div class="column-title">
        <h5>{{status}}</h5>
        <button *ngIf="status != 'Done'" (click)="addToStatus()">
            <img src="../../../assets/img/plus_icon.svg" alt="add to status">
        </button>
    </div>
    <div class="tasks-container">
        @for (task of tasks; track task; let i = $index) {
        <app-task-card [task]="task" (click)="viewTask(task.id)" [draggable]="true" (dragstart)="onTaskDragStart($event, task.id)" (dragend)="onTaskDragEnd()"></app-task-card>
        }
        @empty {
        <div class="no-tasks" *ngIf="!draggingOver">
            No tasks
        @switch(status) {
            @case('To do') {to do}
            @case('In progress') {in progress}
            @case('Await feedback') {awaiting feedback}
            @case('Done') {done}
        }
        </div>
        }
        <div class="drop-zone-visualizer" [ngClass]="{'show-drop-zone': draggingOver}"></div>
    </div>
</div>